.recommand {
    display: flex;
    height: 100vh;
    background-color: #e0f7fa; /* 하늘색 배경 */
}

.recommand-left {
    width: 20%;
    background-color: #b3e5fc; /* 연한 하늘색 */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recommand-left-upper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto; /* 세로 스크롤 활성화 */
}

.recommand-logo img {
    height: 60px;
    cursor: pointer;
}

.messages-container {
    width: 100%;
    flex-grow: 1; /* 남은 공간을 모두 차지 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box; /* 패딩 포함 박스 크기 설정 */
}

.message-bubble {
    background-color: #4fc3f7; /* 진한 하늘색 */
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 10px;
    max-width: 80%;
    word-wrap: break-word;
    align-self: flex-start;
}

.chat-input-container {
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #b3e5fc; /* 연한 하늘색 */
    border-top: 1px solid #4fc3f7;
    box-sizing: border-box;
}

.chat-input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #4fc3f7;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e1f5fe; /* 아주 연한 하늘색 */
    width: 2vw;
}

.chat-input-container button {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background-color: #4fc3f7; /* 진한 하늘색 */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    width: 8vw;
}

.card-container {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #e0f7fa; /* 하늘색 배경 */
}

.details-container {
    width: 20%;
    padding: 20px;
    background-color: #b3e5fc; /* 연한 하늘색 */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #4fc3f7;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
}

.details-container img {
    max-width: 100%; /* 이미지가 컨테이너를 넘지 않도록 */
    height: auto;
}

.details-content {
    width: 100%; /* 내용이 컨테이너를 넘지 않도록 */
}

.details-content p {
    word-wrap: break-word; /* 텍스트가 컨테이너를 넘지 않도록 */
}

.details-content div {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4fc3f7; /* 경계선 추가 */
    border-radius: 5px; /* 경계선 모서리 둥글게 */
    background-color: #ffffff; /* 아이템 배경색 */
}
