.board{
    padding: 2% 15% 0 15%;
    display: flex;
    flex-direction: row;
    min-height: 95.5vh;
    background-image: url("../../assets/img/background_img._board.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.updateButton, .deleteButton, .listButton {
    background-color: #1a1544;
    border: 1.2px solid  #694ab0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 9vw; 
    height: 3.5vh;
    font-size: 13px;
    font-weight: 600
  }

.reviewButton{
    background-color: #a5bbd2;
    border: 2.2px solid  #c6c6d7;
    color: rgb(9, 8, 8);
    border-radius: 5px;
    cursor: pointer;
    width: 9vw; 
    height: 3.5vh;
    font-size: 10.5px;
}


.reviewUpButton{
    background-color: #b6d860;
    border: 1.2px solid  #c6c6d7;
    color: rgb(9, 8, 8);
    border-radius: 5px;
    cursor: pointer;
    width: 60px; 
    height: 25px;
    font-size: 12px;

}

.BoardUpdateButton{
    background-color: #1a1544;
    border: 1.2px solid  #694ab0;
    color: white;
    margin-right: 2%;
    border-radius: 5px;
    cursor: pointer;
    height: 3.8vw;
    font-size: 13px;
    font-weight: 600
}
.BoardUpdateDeleteButton{
    background-color: #e797a0;
    border: 1.2px solid  #d6adc2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 3.8vw;
    font-size: 13px;
    font-weight: 600

}

.board-left-upper{
    padding-left: 30%;
}

#board-logo{
    width: 150%;
    height: 10vh;
}

.board-login, .board-logout{
    background-color: #4F89E1;
    color: white;
    border: transparent;
    width: 100px;
    height: 25px;
}

.board-category{
    margin-top: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}



.board-board, .board-myboard, .board-mypage, .board-myTcontent{
    width: 100px;
    height: 35px;
    background-color: white;
    cursor: pointer;
    border-width: 1px;
    border-radius: 15px;
}
.board-myboard, .board-mylike, .board-mypage, .board-myinfo{
    border-top: none;
}

.board-mylike{
    border-bottom: none;
}

.board-right {
    margin-top: 2vh;
    margin-left: 5vw;
    width: 49vw;
}


.board-search{
    width: 45vw;
    height: 6vh;
    background-color: white;
    border-radius: 20px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    display: flex;
}

.board-search-input{
    padding-left: 3%;
    width: 80%;
    border: none;
    font-size: 15px;
    background-color: transparent;
}

.board-search-clear-icon, .board-search-icon{
    padding-top: 0.9vh;
    width: 3vw;
    height: 4vh;
}

.board-bdlist{
    margin-top: 2vh;
    margin-left: 1vw;
}

.board-bd-title{
    width: 35vw;
    padding-left: 1vw;
    text-align: left;
}

.board-bd-num{
    width: 35vw;
    padding-left: 10%;
    text-align: left;
}


.boardList{
    margin-top: 5vh;
    margin-left: 5vw;
}
