.travelcard {
    margin-left: 10px;
    border: 1px solid #e1e1e1;
    border-color: black;
    border-radius: 5px;
    width: 90%;
    height: 30vh;
    background-color: white;
    margin-bottom: 10px;
}

.travelcard-title {
    font-size: 1.25rem;
    padding-left: 3%;
    margin-top: 1%;
}

.travelcard-text {
    color: #555;
}

.travelcard-body {
    margin-left: 3%;
}