.home{
    padding: 2% 15% 0 15%; 
    display: flex;
    flex-direction: row;
    background-image: url("../assets/img/background_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.home-left-upper{
    padding-left: 30%;
}

#home-logo{
    width: 150%;
    height: 10vh;
}

.home-login, .home-logout{
    background-color: #4F89E1;
    color: white;
    border: transparent;
    width: 100px;
    height: 25px;
}

.home-category{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-board, .home-myboard, .home-mypage, .home-mytravel{
    width: 100px;
    height: 35px;
    background-color: white;
    border-width: 1px;
}

.home-right{
    padding-top: 2vh;
    margin-left: 5vw;
    width: 49vw;
    flex-direction: row;
}

.home-search{
    width: 100%;
    height: 6vh;
    background-color: white;
    border-radius: 20px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    display: flex;
}

.home-search-input{
    width: 80%;
    border: none;
    font-size: 15px;
    background-color: transparent;
}

.home-search-icon{
    padding-top: 0.9vh;
    width: 3vw;
    height: 4vh;
}

.home-right-content{
    min-height: 81vh;
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow-y: auto;
    padding-bottom: 10px;
}

.home-right-bottom{
    text-align: right;
    flex-direction: row;
}

.home-right-bottom-btn{
    text-align: right;
}

.home-travelRegisterBt{
    background-color: #4F89E1;
    color: white;
    border: none;
    font-size: large;
}