.mytravel{
    padding: 2% 15% 0 15%;
    display: flex;
    flex-direction: row;
    min-height: 95.5vh;
    background-image: url("../../assets/img/background_img._board.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mytravel-left-upper{
    padding-left: 30%;
}

#mytravel-logo{
    width: 150%;
    height: 10vh;
}

.mytravel-login, .mytravel-logout{
    background-color: #4F89E1;
    color: white;
    border: transparent;
    width: 100px;
    height: 25px;
}

.mytravel-category{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mytravel-board, .mytravel-myboard, .mytravel-mytravel, .mytravel-mypage, .mytravel-mytravel{
    width: 100px;
    height: 35px;
    background-color: white;
    border-width: 1px;
    border-radius: 15px;
}

.mytravel-myboard, .mytravel-mytravel, .mytravel-mypage, .mytravel-myinfo{
    border-top: none;
}

.mytravel-right{
    margin-top: 2vh;
    margin-left: 10%;
    width: 48vw;
}

.mytravel-bdlist{
    margin-top: 2vh;
    margin-left: 1vw;
}