.travelupdate-inner {
    width: 50%;
    margin: 0 auto;
}

.travelupdate-inner-main{
    border: 1px solid;
}

.travelupdate-top {
    text-align: center;
}

.travelupdate-traveltitle-input {
    width: 50%;
    margin-bottom: 10px;
    height: 20px;
}

.travelupdate-card{
    border: 1px solid #4F89E1;
    padding: 10px;
    margin-top: 3%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.travelupdate-star-container{
    text-align: left;
    margin-bottom: 10px;
}

.travelupdate-star {
    position: relative;
    font-size: 2rem;
    color: #dee2e6;
    margin-left: 3%;
}

.travelupdate-star-input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.travelupdate-btn-div{
    margin-top: 3%;
    margin-right: 3%;
    text-align: right;
}

.travelupdate-travelimg, .travelupdate-serving{
    margin-top: 3%;
    margin-left: 3%;
}

.travelupdate-textarea-input{
    margin-top: 3%;
    width: 80%;
    height: 100px;
    overflow-y:scroll; 
    overflow-x:hidden; 
    resize: none
}

.travelupdate-serving-div{
    margin-left: 3%;
}